@font-face {
    font-family: "Title";
    src: url("/fonts/title.ttf") format('truetype');

}

@font-face {
    font-family: "Type";
    src: url("/fonts/type.ttf") format('truetype');
}

h1 {
    font-size: 65px;
    font-family: "Title";
    color: black;
    text-align: center;
}

h2 {
  font-size: 25px;
  font-family: "Type";
  color: #000;
  text-align: cent;
}
h3 {
  font-size: 28px;
  font-family: "Type";
  color: #000;
  text-align: center;
}

h4 {
  font-size: 20px;
  font-family: "Type";
  color: #000;
  text-align: center;
}

body {
    color: #F5F5F5;
    text-align: center;
}

p {
    font-size: 32px;
    color: #000;
    font-family: "Type";
}

p2 {
  font-size: 20px;
  color: #000;
  text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }